* {
    font-family: 'Lato', sans-serif;
}

.body {
    background-color: #252a2e;
}
.container-fluid {
    background-color: #252a2e;
}

#current-weather {
    padding-top: 40px;
    word-wrap:break-word;
}

.bg-gradient {
    background-image: var(--bs-gradient)!important;
}

.card {
    margin: auto;
}
.align-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-bigger {
    font-size: 2.2em;
}

.icon-margin {
    margin: 10px;
}