* {
    font-family: 'Akshar', sans-serif;
    color: white;
}


.body {
    background-color: #252a2e;
}
.container-fluid {
    background-color: #252a2e;
}

#current-weather {
    padding-top: 40px;
    word-wrap:break-word;
}


.card {
    margin: auto;
    width: 65%;
}
.align-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-bigger {
    font-size: 2.2em;
}

.icon-margin {
    margin: 10px;
}

.table-margin {
    margin: 5% 5% 0% 5%;
    
}

footer{
    padding:10px;
    margin-top: auto;
    background-color: #212529;
}

div.space{ 
	position: relative; 
	height: 10px;  
} 

@media screen and (max-width:631px) {
    .card {
        width: 90%;
    }
    
}

@media screen and (min-width:632px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
}