{% include "header.html" %}

<div class="container-fluid weather-bg" >
    <h1>{{location}}</h1>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    <p>{{weather}}</p>
    
</div>



{% include "footer.html" %}