{% include "header.html" %}

<div class="container-fluid" >
    <section id="current-weather">
        <div class="card text-center text-white bg-dark mb-3 " style="width: 65%;">
            <div class="card-header">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <p style="color: red; margin-bottom: 0;">{{message}}</p>
                {% endfor%}
                {% else %}
                    weather
                {% endif %}
                {% endwith %}

            </div>
            <div class="card-body">
                <h1>{{location}}</h1>
                {% if weather_current['weather'][0]['id'] == 751 %}
                <h5 class="card-title align-inline"><i class="wi wi-dust icon-bigger icon-margin"></i>{{weather_current['weather'][0]['description']}}</h5>
                {% else %}
                    <h5 class="card-title align-inline"><i class="wi wi-owm-{{weather_current['weather'][0]['id']}} icon-bigger icon-margin"></i>{{weather_current['weather'][0]['description']}}</h5>
                {% endif %}
                <hr style="width: 30%;height: 2px; margin: 20px auto 20px auto;color: black;">
                <h5 class="card-title align-inline">Temp<i class="wi wi-celsius icon-margin"></i>{{weather_current['temp']}}</h5>
                <h5 class="card-title align-inline">Humidity<i class="wi wi-humidity icon-margin"></i>{{weather_current['humidity']}} %</h5>
                <h5 class="card-title align-inline">Pressure<i class="wi wi-barometer icon-margin"></i>{{weather_current['pressure']}} hPa</h5>
                <h5 class="card-title align-inline">Visibility<i class="wi wi-small-craft-advisory icon-margin"></i>{{weather_current['visibility']}} Km</h5>
                <h5 class="card-title align-inline">Sunrise<i class="wi wi-sunrise icon-margin"></i>{{weather_current['sunrise']}}</h5>
                <h5 class="card-title align-inline">Sunset<i class="wi wi-sunset icon-margin"></i>{{weather_current['sunset']}}</h5>
                <h5 class="card-title align-inline">Wind<i class="wi wi-wind from-{{weather_current['wind_deg']}}-deg icon-margin"></i>{{weather_current['wind_deg']}}° {{weather_current['wind_speed']}} km/h</h5>
                
            </div>
        </div>
        <div class="table-margin">
            <div class="table-responsive-sm text-center">
                <table class="table table-dark">
                    <thead>
                        <tr >
                            {% for item in weather_hourly %}
                                <th scope="col">{{item['dt']}}</th>
                            {% endfor%}
                        </tr>
                    </thead>
                  <tbody>
                      <tr>
                          {% for item in weather_hourly %}
                          <td><i class="wi wi-owm-{{item['weather'][0]['id']}} icon-bigger"></i></td>
                          {% endfor%}
                        </tr>
                      <tr>
                        {% for item in weather_hourly %}
                        <td>{{item['temp']}}°C</td>
                        {% endfor %}
                          
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="space"></div>
    </section>
</div>



{% include "footer.html" %}